<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NC's People Counter</title>
    <link rel="stylesheet" href={{ css }}>
</head>
<body>
    <header>
        <h1>Загрузить файл для обработки</h1>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file-upload" class="custom-file-upload">
                    Выберите файл
                </label>
                <input id="file-upload" type="file" name="file" accept="image/*" onchange="previewFile()">
            </div>
            <img id="preview" src="#" alt="Preview Image">
            <button type="submit">Загрузить</button>
        </form>
    </main>
    <script>
        function previewFile() {
            const preview = document.getElementById('preview');
            const file = document.getElementById('file-upload').files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>
</body>
</html>
